body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .css-1gvcspu-MuiButtonBase-root-MuiAccordionSummary-root {

  width: 250px !important;

} */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-bottom: 10px;
}

.center-hill {
  margin-top: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin-bottom: 10px;
}

.logo {

  animation-name: spin;
  animation-duration: 30000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {

  50% {
    transform: rotate(540deg);

  }

  100% {
    transform: rotate(0deg);

  }
}

#canvas-container {
  margin-top: 2%;
  margin-left: 10%;
  width: 100%;
  text-align: center;
}

canvas {
  width: 30%;
}